* {
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgb(232, 232, 232);
}

.add-product-header {
    background-color: white;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-product-header * {
    background-color: white;
}

.addProductForm {
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    /* width: 40rem; */
    height: 50rem;
    background-color: rgb(255, 221, 179);
    flex-wrap: wrap;
}

.addProductForm * {
    background-color: rgb(255, 221, 179);
    color: rgb(23, 2, 255);
}

fieldset {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

input,
select {
    width: 50rem;
    padding: 0.5rem;
    border: 0.25rem solid green;
}

.addProductButton:hover {
    background-color: aqua;
    transform: scale(1.05);
}